* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  background-image: url(assets/img/bg1.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: aliceblue;
  font-size: 28px;
}

h1 {
  font-size: 62px;
  padding-top: 400px;
}

.section-one {
  background-color: rgba(214, 151, 162, 0.377);
  height: 100vh;
  color: rgb(102, 101, 101);
  text-align: center;
}

h2 {
  padding-top: 80px;
  font-size: 42px;
  padding-bottom: 30px;
  color: rgb(102, 101, 101);
}

.img-section-one {
  padding-bottom: 30px;
  width: 880px;
  max-width: 100%;
}

.p-section-one {
  text-align: left;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.div-section-one {
  text-align: center;
}

.a-section-one {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 10%;
  padding: 5px;
}

.section-two {
  height: 100vh;
  background-image: url(assets/img/bg3.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.p-section-two {
  font-size: 68px;
  padding-top: 425px;
  padding-bottom: 30px;
}

.secont-p-section-two {
  font-size: 42px;
}

.section-three {
  background-color: rgba(214, 151, 162, 0.377);
  height: 100vh;
  color: rgb(65, 63, 63);
  text-align: center;
}

.h2-section-three {
  padding-top: 60px;
  padding-bottom: 60px;
}

.img-section-three {
  padding-bottom: 30px;
  max-width: 100%;
}

.section-section-three {
  font-size: 0;
}

.div-section-three {
  width: 50%;
  display: inline-block;
  font-size: 18px;
}

h3 {
  font-size: 32px;
}

.section-four {
  height: 300px;
  background-color: rgba(255, 182, 193, 0.322);
  text-align: center;
}

.p-section-four {
  font-size: 42px;
  padding-top: 50px;
}

.second-p-section-four {
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
}

button {
  background-color: firebrick;
  border: none;
  padding: 10px;
  border-radius: 10%;
  font-size: 16px;
  color: aliceblue;
}

.section-five {
  height: 100px;
  background-color: black;
  text-align: center;
  color: aliceblue;
}

.p-section-five {
  padding-top: 60px;
}

.a-section-five {
  color: inherit;
}

footer {
  font-size: 0;
  text-align: center;
  height: 50px;
}

.a-footer {
  display: inline-block;
  font-size: initial;
  width: 25%;
  padding-top: 15px;
  text-decoration: none;
  color: rgb(83, 83, 83);
}

.center-container {
  max-width: 900px;
  margin: 0 auto;
}
